@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900);

body {
    font: 14pt  helvetica, sans-serif;
    color: #333;
    margin:0;
    line-height: 18pt;
}


div {
    /*border:1px dotted green;*/
}

#maincontainer {
    width:100%;
}

#menufix {
    width:100%;
    position:fixed;
    background-color: #fff;
    padding-top:2%;
    box-shadow: 0px 0px 15px #111;
    z-index:100;
}

#menu {
    width: 75%;
    color:#fff;
    margin: 0px auto;
    display: block;
    text-align: center;
    background-color: transparent;
    border:0;
    padding-bottom: 5px;
}

#logo {
    /*border: 1px solid red;*/
    font-family: 'Arvo', serif;
    font-size:1.6em;
    padding-bottom: 25px;
    font-weight: 400;
    /*text-shadow: 0px 0px 5px #000;*/
    display: inline-block;
    vertical-align: top;
    color:#333;
}

#splash {
    width:70%;
    /*position:absolute;
    right: 0;
    bottom: 0;*/
    color:#fff;
    /*margin:50px;*/
    text-align: right;
    margin:0px auto;
    margin-bottom: 5%;
    font-size:4vh;
}

#splashtitle {
    width:50%;
    font-size:12vh;
    color:#fff;
    padding-top: 150px;
    padding-bottom: 80px;
    /*margin:0px auto;*/
    text-align: left;
    line-height: 10vh;
    font-weight: 600;
}

#splash a {
    border:1px solid white;
    border-radius: 10px;
    padding:20px;
    display: inline;
    color: #fff;
}

#splash a:hover {
    background-color: #fff;
    color:#444;
}

/*.nav {
    text-align: center;
}*/

#front {
    background-image:url('../images/mainbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    height:100vh;
}

#content {
    width:70%;
    padding-top: 5%;
    margin:0px auto;
    padding-bottom: 5%;
}

#footer {
    width: 100%;
    background-color:#111;
}

#footercontent {
    margin:0px auto;
    width:70%;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 8pt;
    color:#fff;
    line-height: 10pt;
}

.nav a {
    /*border: 1px solid red;*/
    /*text-align: center;*/
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2pt;
    font-size: 1em;
}

.nav a:hover {
    background-color: red;
    color:#ddd;
}

h1 {
    font-family: 'Arvo', serif;
    font-size:30pt;
    letter-spacing: -2px;
    padding-bottom: 10px;
}

a, a:hover {
    text-decoration: none;
    color:#333;
}